---
openapi: 3.1.0
info:
  title: OpenAPI definition
  version: v0
servers:
- url: http://localhost:8080
  description: Generated server url
paths:
  "/api/votes/teams":
    post:
      tags:
      - vote-controller
      operationId: voteForTeam
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/VoteRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: string
  "/api/votes/parts":
    post:
      tags:
      - vote-controller
      operationId: voteForPartLead
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/VoteRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: string
  "/api/auth/signup":
    post:
      tags:
      - auth-controller
      operationId: signUp
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SignUpRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/SignUpResponse"
  "/api/auth/login":
    post:
      tags:
      - auth-controller
      operationId: logIn
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/LogInRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/LogInResponse"
  "/api/votes/status":
    get:
      tags:
      - vote-controller
      operationId: getVoteStatus
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/VoteStatusResponse"
  "/api/votes/results/teams":
    get:
      tags:
      - vote-controller
      operationId: getTeamVoteResult
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/VoteResultResponse"
  "/api/votes/results/parts/{part}":
    get:
      tags:
      - vote-controller
      operationId: getPartVoteResult
      parameters:
      - name: part
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/VoteResultResponse"
  "/api/members/me":
    get:
      tags:
      - member-controller
      operationId: getMemberStatus
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/MemberStatusResponse"
  "/api/candidates/teams":
    get:
      tags:
      - candidate-controller
      operationId: getTeamCandidates
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TeamCandidateResponse"
  "/api/candidates/parts":
    get:
      tags:
      - candidate-controller
      operationId: getPartLeadCandidates
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/PartLeadCandidateResponse"
components:
  schemas:
    VoteRequest:
      type: object
      properties:
        targetId:
          type: integer
          format: int64
    SignUpRequest:
      type: object
      properties:
        loginId:
          type: string
          minLength: 1
        password:
          type: string
          minLength: 1
        email:
          type: string
          minLength: 1
        realName:
          type: string
          minLength: 1
        part:
          type: string
          enum:
          - FRONTEND
          - BACKEND
        team:
          type: string
          enum:
          - STORIX
          - MODELLY
          - CATCHUP
          - MENUAL
          - DIGGINDIE
        isPartLeadCandidate:
          type: boolean
      required:
      - isPartLeadCandidate
      - part
      - team
    SignUpResponse:
      type: object
      properties:
        email:
          type: string
        partType:
          type: string
        isPartLeadCandidate:
          type: boolean
    LogInRequest:
      type: object
      properties:
        loginId:
          type: string
          minLength: 1
        password:
          type: string
          minLength: 1
    LogInResponse:
      type: object
      properties:
        accessToken:
          type: string
    VoteStatusResponse:
      type: object
      properties:
        teamVote:
          type: boolean
        partLeadVote:
          type: boolean
    VoteResultResponse:
      type: object
      properties:
        targetId:
          type: integer
          format: int64
        targetName:
          type: string
        voteCount:
          type: integer
          format: int64
    MemberStatusResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        team:
          type: string
        part:
          type: string
          enum:
          - FRONTEND
          - BACKEND
        hasVotedForTeam:
          type: boolean
        hasVotedForPartLead:
          type: boolean
    TeamCandidateResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    PartLeadCandidateResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        part:
          type: string
